<div class="video-tile" [class.video-tile-mobile]="isMobileDevice">
  <video #video [muted]="muted" playsinline autoplay [class.hidden]="camOff" [class.mirrored]="mirror"></video>
  <div class="tile-placeholder" *ngIf="camOff">
    <ng-container *ngIf="user; else iconOnly">
      <div class="tile-avatar">
        <img *ngIf="avatarUrl" [src]="avatarUrl" class="tile-avatar-img" />
        <span *ngIf="!avatarUrl" class="tile-avatar-init">{{ user.username[0].toUpperCase() }}</span>
      </div>
    </ng-container>
    <ng-template #iconOnly>
      <i class="bi bi-camera-video-off-fill"></i>
    </ng-template>
  </div>
  <span class="tile-label">{{ label }}</span>

  <span class="tile-badge tile-badge-hand" *ngIf="handRaised" title="Hand raised">
    <i class="bi bi-hand-index-thumb-fill"></i>
  </span>
  <span class="tile-badge tile-badge-share" *ngIf="isScreenSharing" title="Presenting">
    <app-call-icon name="screen-mirror" [size]="14"></app-call-icon>
  </span>

  <button class="tile-kick-btn" *ngIf="showKick" (click)="kick.emit()" title="Remove from meeting">
    <i class="bi bi-person-dash-fill"></i>
  </button>
</div>
